.titulo-1{color:darkgray;
    background-color:black;}

    body{background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSO7Vm94tK21jNaECz5gs_HGtvQpNFP9CnuQw&usqp=CAU);
        background-size: contain;
} .button{background-color: steelblue;
}
.button{color: aliceblue;}
.C{background-color: beige;}
tr{background-color: beige;color: gray;}

